* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;

}

.container {
    margin: 0 auto !important;
    padding: 0 !important;
    max-width: 1350px !important;

}

.maincontent {
    display: flex;


}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

/* side bar */
.side-bar {
    background: linear-gradient(162deg, #301F81 0%, #0F0441 100%);
    display: flex;
    flex-direction: column;
}

.mainlist {
    background: #F4F7FE;


}

.title {
    color: white;
    padding-left: 29px;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-right: 29px;
    font-weight: 700;
    font-size: 23px;
}

.title p {
    font-size: 23px;
    font-weight: 300 !important;
}

.side-menu-list {

    padding-top: 42px;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 300px;
    flex-grow: 1;
}

.side-menu-items li {
    list-style-type: none;
    margin-bottom: 25px;

}

.side-menu-items li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.70);
    display: inline-flex;
    align-items: center;

}

.side-menu-items li {
    display: flex;
    align-items: center;

}

.side-menu-items li i.material-symbols-outlined {
    margin-right: 10px;
}

.sitelogo {
    font-size: 10px;
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    display: inline flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;

}

/* end of side bar */

/* main content */
.main {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.mainhead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainhead p {
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;
    margin-left: 22px;
    margin-top: 22px;
}

.mainlist {
    width: 100%;
}



/* search bar */
.searchbar {

    height: 60px !important;
    border-radius: 30px !important;
    background: #FFF;
    margin-right: 10px;
    display: inline-flex;
    padding-right: 20px;
    align-items: center;
    position: relative;
    gap: 15px;
}

.searchbar input {

    border-radius: 30px;
    border: transparent;
    background-color: #F4F7FE;
    padding: 12px 8px !important;
    margin-left: 10px;
}

.search-icon {
    color: #2B3674;

}

.bell {
    color: #A3AED0;
}

.notificationbtn {
    background-color: transparent;
    border: transparent;
}

.searchbar-profile-img {
    border-radius: 100%;
}

/* end dof search bar */

/* headinng main */

.heading {
    margin: 22px;
    font-size: 34px;
    font-weight: 700;
    color: #2B3674;
}

.employees-list {
    display: flex;

}

.employees-list p {
    font-size: 24px;
    font-weight: 700;
    color: #2B3674;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
}

.employee-details {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 22px;
    margin-bottom: 22px;
    border-radius: 15px;
    background-color: white;
}

.employees-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emp-list {
    display: flex;
    align-items: center;
    padding: 16px 0px 37.557px 0px;

}

.employees-select {
    width: 70px;
    height: 42px;
    padding: 8px 15px;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #DDD;
    background: #FFF;
    margin-top: 15px;
    color: #333;
}

.counttext {
    margin-top: 22px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-left: 10px;
}

.addbtn {
    padding: 16px;
    background-color: #4318FF;
    color: #FFF;
    border-radius: 10px;
    border: transparent;
    margin-left: auto;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;

}

.btnemp {
    position: relative;
}

/* end of main head */

/* table */
.table {
    border-collapse: collapse;
    text-align: left;
    padding-left: 10px;
    width: 100%;

}

.tbody {
    vertical-align: unset !important;
}

.table-row {
    border-bottom: 1px solid #D3D8E2;
    padding-left: 10px;

}


.table-drpdwn {
    background-color: transparent;
    border: transparent;
    color: #8B95B7;
    font-size: 14px;
    font-weight: 500;
}

.emp-column {
    border-bottom: 1px solid #D3D8E2 !important;
    position: relative;
}

.emp-column:last-child {
    border-bottom: transparent !important;
}

.emp-column td {
    padding: 15px 10px !important;
    font-size: 14px !important;
    color: #2B3674 !important;
    font-weight: 700 !important;

}

.profile-img {
    vertical-align: middle;
    margin-top: -10px !important;
    margin-right: 5px;
}

.dot {
    padding: 5px;
    border: transparent;
    border-radius: 10px;
    width: 37px;
    height: 37px;
    color: #4318FF;
}

/* end of table */

/* pagination */

.pagination {
    display: flex;
    justify-content: end;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 15px;
    gap: 10px;

}

.pagination button {
    background-color: #FFF;
    border: transparent;
    border-radius: 8px;
    border: transparent;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    color: #4318FF;
}

/* the buttons in the pagination will affect this css style dynamically */
.PageNumBtns {
    display: flex;
    align-items: center;
    gap: 10px;
}


.pagination-icon :hover {
    background-color: #F4F7FE;
}

/* end of pagination */

/* footer */
.terms-and-condition {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-top: 4px;
    display: flex;
    justify-content: space-between;


}

.copyright-txt {
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;

}

.terms-text {
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;

}

.others {
    display: flex;
    justify-content: space-between;
}

.privacy-text {
    color: #707EAE;
    font-size: 14px;
    font-weight: 500;
}

/* end of footer */

/* employee add form */
.employee-form {
    display: none;
    position: absolute;
    top: 55%;
    left: 55%;
    background-color: white;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 25px 25px;
    overflow-y: scroll;
    max-height: 100%;
    overflow-y: scroll;
    scrollbar-width: thin !important;
    scrollbar-color: transparent !important;
    z-index: 3;
}

.form-heading {
    font-size: 24px;
    font-weight: 700;
    color: #2B3674;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.upload {
    height: 134px;
    background-color: #FAFCFE;
    border: 1px dashed #B2BAD0;
    border-radius: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;

}

.upload img {
    margin-top: 25px;

}

.upload p {
    font-size: 16px;
    font-weight: 700;
}

.formattext {
    color: #8F9BBA;
    font-size: 12px;
    font-weight: 500;


}

.form-group label.required::after {
    content: "*";
    color: #ff0000;
    margin-left: 2px;
}

.input_box {
    /* opacity: 0.5; */
    font-size: 14px !important;
    height: 50px !important;
    border-radius: 16px !important;
    border: 1px solid#B6BBC7 !important;
    box-shadow: none !important;

}

.textbox_head {
    font-size: 14px;
    color: #2B3674;
}

.final_submit {
    display: inline-flex;
    justify-content: end;
    gap: 15px;

}

.final_abort {
    border: transparent;
    background-color: #FAF9FF;
    padding: 17px 36px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    color: #0F0441;
}

.final_abort:hover {
    background-color: red;
    color: white;
}

.submission {
    border: transparent;
    background-color: #4318FF;
    padding: 17px 29px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.submission:hover {
    background-color: #4FBF26;
    color: white;
}

.close {
    border: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.closesymbol:hover {
    color: red;
}

.closesymbol {
    color: #4318FF;
}

/* end oof employee add form */

/* 3 dot menu list  */
.dropdown-content {
    display: none;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
    border-radius: 14px;
    border: 0.5px solid #D3D8E2;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(16, 16, 49, 0.12);
    padding: 22px 20px;
    z-index: 1;
    position: absolute;
    right: 25px;
    top: 35px;
}

/* disabling bootsrap styles */
ol,
ul {
    padding-left: none !important;

}

ol,
ul {
    padding-left: unset !important;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}

/* end of disabling bootstrap styles */


.dropdown-content ul {
    list-style-type: none;
}

.icon {
    /*  for coloring icons in 3 dot  */
    color: #8B95B7;
}

.option-menu {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #2B3674;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px;
    background-color: transparent;
    border: none;
}

.option-menu-button {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4318FF;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px 41px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 500;
}

.option-menu-button:hover {
    background-color: red;
    color: white;
}

/* end of 3 dot menu */

/* edit employee form */
.edit-employee-form {
    display: none;
    border-radius: 15px;
    text-decoration: none;
    border-radius: 14px;
    border: 0.5px solid #D3D8E2;
    background: #FFF;
    box-shadow: 0px 1px 4px 0px rgba(16, 16, 49, 0.12);
    padding: 22px 20px;
    z-index: 3;
    position: absolute;
    right: 310px;
    top: 35px;
    overflow-y: scroll;
    scrollbar-width: thin !important;
    scrollbar-color: transparent !important;
    max-height: 100%;
}

.img-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.change_btn {
    width: 108px;
    height: 40px;
    border-radius: 20px;
    border: transparent;
    color: #4318FF;
    font-size: 14px;
    font-weight: 700;
    background-color: #EAE6FB;
}

.change_btn:hover {
    background-color: #4FBF26;
    color: white;
}

.view-img-section {
    height: 134px;
    width: 140px;
    background-color: #FAFCFE;
    border: 1px dashed #B2BAD0;
    border-radius: 13px;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;

}

.view-img-section img {
    width: 140px !important;
    height: 135px !important;
    position: absolute;
    left: 20px;
    top: 68px;
    border-radius: 10px;
}

.view-img-section_add_emp {
    display: none;
}

/* css for employee view page */
.view_page_maincontent {
    display: flex;
    background: #F4F7FE;
}

.viewpage {
    width: 100vw;
}

.viewpage_header {
    display: flex;
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;

}

.main-second-head {
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    color: #2B3674;
}

.viewpage_header {
    display: flex;
    justify-content: space-between;
}

.viewpage_mainhead {
    font-size: 14px;
    color: #707EAE;
    font-weight: 500;
}

/* profile section */
.profile {
    display: flex;
    background-color: #FFF;
    justify-content: center;
}

.container_view_profile {
    margin-left: 195px;
    margin-right: 195px;
}

.bg_image {
    padding: 0 !important;
    margin-left: 16px !important;
    position: relative;
}

.profile_pic {
    position: absolute;
    display: flex;
    align-items: center;
    width: 0 !important;
    justify-content: center;
    top: 260px;


}

.profile_pic img {
    border-radius: 100%;
    border: 4px solid white;
    height: 100px;
    width: 100px;

}

.user_name_row {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.user_email_id_row {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #707EAE;

}

.details_box {

    height: 91px;
    padding: 21px 0px 27px 22px;
    align-items: flex-start;
    box-shadow: 0px 18px 40px 0px rgba(112, 144, 176, 0.12);

}

.details_box label {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    color: #707EAE;
}

/* end of profile section */

/* css for modal box for delete popup message */
.popupbody {
    color: #2B3674 !important;
    font-size: 18px;
    font-weight: 500;

}

.final_abort_modal:hover {
    background-color: red !important;
    color: white !important;

}

.modalhead {
    color: #2B3674 !important;
    font-size: 24px !important;
    font-weight: 700 !important;
}

.modal-backdrop {
    display: none !important;
}

.modal-header {

    border-bottom: none !important;

}

.modal-footer {
    border-top: none !important;
}

/* conformation popup */
.conformationpopup {
    display: none;

}

.conformationpopupheading {
    color: #4FBF26;
    font-size: 20px;
    font-weight: 700;
}

/* css for error message */
.errormessage {
    font-size: 12px;
    color: red;
    align-items: center;
    justify-content: center;
    gap: 5px;
    display: none;
}

.password {
    position: relative;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    color: #2B3674;
    right: 25px;
    top: 52px;
}

/* css for no employee message popup */
.NoEmpFoundPopupModal {
    display: none;
}

/* endof no employee ppup modal */

.hidden {
    display: none !important;
}

/* .upload_image{
    width: 100%;
} */
.upload_image img {
    width: 100%;
}

.upload-section img {

    width: 194px;
    top: 46px;
    height: 132px;
    position: absolute;
    left: 30px; 
    border-radius:10px;
   

}

td img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.upload-icon {
    width: 20px !important;
}

.upload-icon-image img {
    width: 0 !important;
}

.input_box::placeholder {
    color: #bababa !important;
    opacity: 50% !important;
    /* Replace with your desired color code */
}

.img-sectionadd {
    display: none;
}
/* custim button for add employee */
.Addchgbtn {
    display: none;
    position: absolute;
    left: 260px;
    top: 130px;
}

.searchicon {
     position: absolute;
     right: 10px; 
     top: 10px;

}
.searchbaricon{
    padding-left: 10px;
}
.searchbars{
    position: relative;
}

.EditSucesspopup
{
    display: none;
} 